.contato-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h2 {
    font-size: 24px;
    color: #333;
}

.card p {
    font-size: 16px;
    color: #777;
    margin-top: 10px;
}

.imagem-contato {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.enviar-email {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


@media (max-width: 768px) {
    .card {
        padding: 15px;
    }

    .imagem-contato {
        width: 80px;
    }
}